h1 {
  color: red;
  text-align:center;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav{
text-align:center;
text-color:black;

}
nav a{
padding:10px;
background-color: grey;
}

img {
  display: block;
  margin: 0 auto;
}
figcaption{
font-size:20;
text-align:center;
}
p{
width:800px;
text-align:center;
margin:20px auto;
padding 10px:
}
/*div{
float:left;
text-align: center;
disply:flex;
flex-direction:column;
margin:auto;
width:25%;
background-color:red;
justify-content:space-around;
}*/
#details{
display:flex;
justify-content:space-around;
background-color: red;
padding:20px 0;
text-align:center;
}
#details div {
display:flex;
flex-direction:column;
align-items:center;
width:20%;
}
#details h3{
margin:0;
padding-bottom:10px;
font-size:20px;
font-weight:bold;
}
#details p, #details a{
margin:0;
padding:5px;
font-size:16px;
}
